@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Poppins:wght@200;400;600&display=swap');

.MenuContainer {
    min-width: 300px;
    color: white;
    font-family: 'Karla';
    font-weight: 400;
    font-size: 1.2rem;

}

.nav-item:hover {
    color: #61dafb
}

.menu-title {
    padding: 1rem;
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

}

.nav-item {
    list-style: none;
    padding: 1em 2em;
}

.nav-link {
    text-decoration: none;
    text-align: left;
    color: inherit;
    margin: 2rem auto;
}